<ion-content>
  <ion-grid class="grid3">
    <div>   
      <ion-col>
        <img src="./assets/icon/personnage.png">
      </ion-col>
    </div>
  </ion-grid>
  <ion-slide>
      <div class="contaier-forgot">
          <ion-grid>
            <ion-col class="img-container-logo">
              <img src="./assets/icon/logo.png">
            </ion-col>
              <form>
                <ion-row>
                  <ion-item lines="full">
                    <p>Réinitialisation du mot de passe.</p>
                  </ion-item>
                  <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-icon name="person" class="icon-login"></ion-icon>
                            <ion-input type="text" #email required placeholder="Adresse mail"></ion-input>
                        </ion-item>
                    </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row >
                  <ion-col>
                      <ion-button (click)="authService.PasswordRecover(email.value)" color ="danger" shape="round">Envoyer</ion-button>
                  </ion-col>
                </ion-row>
              </form>
              <ion-label>
                <h3></h3>
                <p style="text-indent : 55%;"><a (click)="login()">Revenir à la connexion</a></p>
            </ion-label>
          </ion-grid>
      </div>

  </ion-slide>
