<ion-tabs>
  <div class="tabs-inner"></div>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="accueil">
      <img src="./assets/icon/navigation-bar/home.png" />
      <ion-label>Accueil</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="defis">
      <img src="./assets/icon/navigation-bar/defis.png" />
      <ion-label>Défis</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="event">
      <img src="./assets/icon/navigation-bar/event.png" />
      <ion-label>Evènements</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="association">
      <img src="./assets/icon/navigation-bar/association.png" />
      <ion-label>Associations</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profil">
      <img src="./assets/icon/navigation-bar/profil.png" />
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
