<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img src="./assets/icon/navigation-bar/home.png" />
      Accueil
    </ion-tab-button>
    <ion-tab-button tab="défis">
      <img src="./assets/icon/navigation-bar/defis.png" />
      Défis
    </ion-tab-button>
    <ion-tab-button tab="event">
      <img src="./assets/icon/navigation-bar/event.png" />
      Evènements
    </ion-tab-button>
    <ion-tab-button tab="association">
      <img src="./assets/icon/navigation-bar/association.png" />
      Associations
    </ion-tab-button>
    <ion-tab-button tab="profil">
      <img src="./assets/icon/navigation-bar/profil.png" />
      Profil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
