<ion-content [fullscreen]="false">
  <div class="parallax-image" [style.background-image]="'url('+myImagePath+')'">
    <ion-button fill="clear"
      ><img src="../../assets/icon/settings.png"
    /></ion-button>
  </div>
  <div class="main">
    <h1>Défis</h1>
    <div class="bar"></div>
    <div class="today-challenge">
      <ion-card>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col><p>Score :</p></ion-col>
              <ion-col size="auto"><p>150 pts</p></ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
    <h2>Défi du jour</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et nisi non
      purus vestibulum sodales fermentum sit amet nunc. In turpis felis,
      consectetur ut erat eget, dapibus cursus elit. In ut leo nec metus
      dignissim congue sit amet eget mauris. Fusce tincidunt congue turpis non
      hendrerit. Aenean vitae interdum mi. Nam viverra neque mollis nulla
      gravida, a gravida enim ullamcorper. In hac habitasse platea dictumst.
      Morbi accumsan luctus massa, tincidunt finibus augue vulputate vitae.
    </p>
    <h2>Défi de la semaine</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et nisi non
      purus vestibulum sodales fermentum sit amet nunc. In turpis felis,
      consectetur ut erat eget, dapibus cursus elit. In ut leo nec metus
      dignissim congue sit amet eget mauris. Fusce tincidunt congue turpis non
      hendrerit. Aenean vitae interdum mi. Nam viverra neque mollis nulla
      gravida, a gravida enim ullamcorper. In hac habitasse platea dictumst.
      Morbi accumsan luctus massa, tincidunt finibus augue vulputate vitae.
    </p>
    <h3>wzrsextdrcrftvgybhunj</h3>
  </div>
</ion-content>
