<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Titre</ion-label>
      <ion-input type="text" placeholder="Écrire ici ..."></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Le lieu</ion-label>
      <ion-select placeholder="Choisir dans la liste :">
        <ion-select-option value="lieu1">Lieu 1</ion-select-option>
        <ion-select-option value="lieu2">Lieu 2</ion-select-option>
        <ion-select-option value="lieu3">Lieu 3</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">La date</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" placeholder="XX/XX/XXXX ..."></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Le contenu</ion-label>
      <ion-textarea rows="5" placeholder="Écrire ici ..."></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Insérez votre image</ion-label>
      <ion-input type="file"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" color="primary">Soumettre</ion-button>
</ion-content>

