<ion-content>
  <ion-header>
    <ion-row class="icons">
      <img src="../../assets/icon/arrow-left-solid.svg" class="back">
      <img src="../../assets/icon/gear-solid.svg" class="settings">
    </ion-row>
    <ion-row class="info">
      <ion-avatar>
        <img src="../../assets/icon/avatar-icon-png-26.jpg">
      </ion-avatar>
      <ion-label>
        [Prénom]<br />
        [Nom]<br />
        Inscrit depuis [date]<br />
        [Lieu]
      </ion-label>
    </ion-row>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button shape="round" color="light" size="small">Bonheur</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button shape="round" color="light" size="small">Nombre de projets projets</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button shape="round" color="light" size="small">Score</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>