<ion-content [fullscreen]="true" class="body">
  <ion-img
  src="./assets/icon/People_celebrating_Purim_day_pana_1.svg"
  class="img-background"
  ></ion-img>
  <ion-grid class="pageContent" >
    <ion-row>
      <ion-col class="searchPart">
        <h1 class="titre"> Évènements </h1>
        <ion-img
        src="../../assets/icon/Line 10.svg"
        class="imgLine"
        ></ion-img>
        <ion-searchbar show-clear-button="focus" placeholder="Rechercher un évènement ..."></ion-searchbar>
      </ion-col>
      <ion-col>
        <app-card-event></app-card-event>
        <app-card-event></app-card-event>
        <app-card-event></app-card-event>
        <ion-icon class="showMoreIcon" name="caret-down-outline"></ion-icon>
        <ion-button class="createEvent" routerLink="/create-event">
          <ion-icon class="iconCreateEvent" slot="start" name="add-circle-outline"></ion-icon>
          Créer un nouvel évènement
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
