<ion-content [fullscreen]="true" class="body">
  <ion-img
    src="./assets/icon/People_celebrating_Purim_day_pana_1.svg"
    style="height: 25%; border: none;"
    class="img-background"
  ></ion-img>
  <ion-col>
    <ion-header>
      <ion-title> Évènements </ion-title>
    </ion-header>

    <ion-searchbar placeholder="Rechercher"></ion-searchbar>

    <ion-card>
      <ion-card-header>
        <ion-card-title> Titre de la carte </ion-card-title>
      </ion-card-header>
      <ion-card-content> Contenu de la carte </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title> Titre de la carte </ion-card-title>
      </ion-card-header>
      <ion-card-content> Contenu de la carte </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title> Titre de la carte </ion-card-title>
      </ion-card-header>
      <ion-card-content> Contenu de la carte </ion-card-content>
    </ion-card>
    
  </ion-col>
</ion-content>
