<ion-header class="ion-no-border">
  <ion-toolbar class="headerToolbar">
    <ion-buttons slot="start">
      <ion-icon name='arrow-back'></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" style="opacity: 1!important;">
      <ion-icon name="settings-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="body">
  <ion-img
  src="./assets/icon/People_celebrating_Purim_day_pana_1.svg"
  class="img-background"
  ></ion-img>
  <ion-grid class="pageContent">
    <ion-row>
      <ion-col class="searchPart">
        <h1 class="titre"> Évènements </h1>
        <ion-img
        src="../../assets/icon/Line 10.svg"
        class="imgLine"
        ></ion-img>
        <ion-searchbar show-clear-button="focus" placeholder="Rechercher un évènement ..."></ion-searchbar>
      </ion-col>
      <ion-col>
        <app-card-event></app-card-event>
        <app-card-event></app-card-event>
        <app-card-event></app-card-event>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
