<ion-content>
  <!--<ion-title size="large">accueil</ion-title>-->
  <div class="parallax-image" [style.background-image]="'url('+myImagePath+')'">
    <!--<img src="./assets/icon/settings.png" />-->
    <ion-button fill="clear"
      ><img src="./assets/icon/settings.png"
    /></ion-button>
    <div class="citation">
      <h2>Il ne dépend que de vous.</h2>
    </div>
    <div class="personnage">
      <img src="../../assets/icon/personnage.png" />
    </div>
  </div>

  <div class="main">
    <div class="bar"></div>
    <ion-row class="ion-no-padding" *ngFor="let entry of data">
      <ion-col>
        <h2>{{entry.title}}</h2>
      </ion-col>
    </ion-slide>
  </ion-slides>
  <h2>Evènements de la semaine</h2>
  <ion-slides
    [options]="{ slidesPerView: 'auto', spaceBetween:10 , zoom: false}"
  >
    <ion-slide>
      <ion-col>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Mega Man X</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-col>
    </ion-slide>
  </ion-slides>
  <h2>Mes associations</h2>
  <ion-slides
    [options]="{ slidesPerView: 'auto', spaceBetween:10 , zoom: false}"
  >
    <ion-slide>
      <ion-col>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>Mega Man X</ion-label>
      </ion-col>
      <ion-col>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-col>
    </ion-slide>
  </ion-slides>
  <ion-button (click)="authService.SignOut()" color="danger" shape="round"
    >déconnexion</ion-button
  >

  <app-navigation-bar></app-navigation-bar>
</ion-content>

<!--  exemple affichage information collection
 <ion-item *ngFor="let item of informationUsers | async">
    <ion-label>{{ item.email }} {{ item.age }}</ion-label>
  </ion-item>

-->
