<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>accueil</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <!--<ion-title size="large">accueil</ion-title>-->
  <div class="parallax-image" [style.background-image]="'url('+myImagePath+')'">
    <!--<img src="./assets/icon/settings.png" />-->
    <div class="citation">
      <h2>Il ne dépend que de vous.</h2>
    </div>
    <div class="personnage">
      <img src="../../assets/icon/personnage.png" />
    </div>
  </div>

  <div class="main">
    <div class="bar"></div>
    <ion-row class="ion-no-padding" *ngFor="let entry of data">
      <ion-col>
        <h2>{{entry.title}}</h2>
      </ion-col>
      <ion-slides [options]="{ slidesPerView: '3', spaceBetween: 10}">
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Défis #1</ion-card-title>
            </ion-card-header>

            <ion-card-content>Pokémon Yellow</ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Défis #2</ion-card-title>
            </ion-card-header>

            <ion-card-content>Mega Man X</ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Défis #3</ion-card-title>
            </ion-card-header>

            <ion-card-content>The Legend of Zelda</ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </div>
</ion-content>
