<ion-content>
  <ion-grid class="grid2">
    <div>   
      <ion-col>
        <img src="./assets/icon/personnage.png">
      </ion-col>
    </div>
  </ion-grid>
  
  <ion-slide>
      <div class="contaier-register">
          <ion-grid>
            <ion-col class="img-container-logo">
              <img src="./assets/icon/logo.png">
            </ion-col>
              <ion-row>
                  <ion-col>
                      <ion-list>
                        <p *ngIf="error"><a style="color:#FF0000;">Adresse email ou mot de passe incorrect</a></p>
                        <p *ngIf="errorEmail"><a style="color:#FF0000;">Adresse email déjà prise</a></p>
                          <ion-item>
                            <ion-icon name="person" class="icon-register"></ion-icon>
                            <ion-input [(ngModel)]="dataUser.pseudo" type="text" required placeholder="Pseudonyme"></ion-input>
                          </ion-item>
                          <br />
                          <ion-item>
                              <ion-icon name="person" class="icon-register"></ion-icon>
                              <ion-input [(ngModel)]="dataUser.email" type="text" required placeholder="Adresse mail"></ion-input>
                          </ion-item>
                          <br />
                          <ion-item>
                              <ion-icon name="lock-open" class="icon-register"></ion-icon>
                              <ion-input [(ngModel)]="dataUser.password" type="password" required placeholder="Mot de passe"></ion-input>
                          </ion-item>
                          <br/>
                          <ion-item>
                              <ion-icon name="lock-closed" class="icon-register"></ion-icon>
                              <ion-input [(ngModel)]="dataUser.passwordVerif" type="password" required placeholder="Confirmer mot de passe"></ion-input>
                          </ion-item>
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-label>
                <h3></h3>
                <p style="text-indent : 55%;"><a (click)="forgot()">Mot de passe oublié ? </a></p>
            </ion-label>
              <ion-row>
                  <ion-col>
                      <ion-button (click)="signUp()" color ="success" shape="round">S'inscrire</ion-button>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-label>
                          <h3></h3>
                          <p>Déjà un compte? <a (click)="login()">C'est ici</a></p>
                      </ion-label>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </div>

  </ion-slide>      
  <div class="contaier-google-register">
    <p>
      <ion-icon name="logo-google" class="icon-login"></ion-icon>
      <a href='register'>Connexion avec google</a>
    </p>
</div>
